/* h1 {
    color: red;
}
.colored {
    color: orange;
}
#heading1 {
    color: yellow;
} */

/* a {
    font-size: 300%;
    text-decoration: none;
}

a:visited{
    color: gray;
}

/* a:hover {
    color: red;
    background-color: lime;
} */

/* a:active {
    color: yellow;
}

a:link, a:visited {
    background-color: lime;
    color: white;
    padding: 14px; 25px;
    text-align: center;
    text-decoration: none;
    display: inline block
}
a:hover a:active {
    background-color: rgb(112, 162, 112);
} */

/* h1 {
    background-color: yellow;
}
.heading {
    font-size: 200%;
    background-color: lime;
    /* display: none; */
/* }

span.heading {
    background-color: aqua;
    display: block;
    margin: auto;
    text-align: center;
}

img {
    background-color: orange;
    margin: auto;
    display: block;
} */

/* img.left {
    float: left;
    width: 200px;
    position: fixed;
    left: 100px;
} */

/* a:link{
    background-color: rgb(14, 102, 14);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline block;
    top: 90%
}

a{position: fixed;
left: 20px;
top: 90%;}

a:hover a:active {
    background-color: rgb(112, 162, 112);
} */
